<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="../../main_page.css" />
		<link rel="stylesheet" href="../../my_world_profile.css" />
		<title>Mario</title>
	</head>
	<body>
		<h2 class="visually-hidden">User Profile Setting</h2>
		<header class="page-header">
			<div class="container">
				<div class="page-header-container user-profile">
					<button
						class="navigation-menu-toggler"
						type="button"
						data-bs-toggle="offcanvas"
						data-bs-target="#side-menu-toggle"
					></button>
					<div class="header-logo"></div>
					<div class="header-logo-profile-mobile"></div>
				</div>
			</div>
			<div class="container-fluid header-navigation">
				<ul class="header-navigation-list">
					<li class="header-navigation-item"><a href="#">Main</a></li>
					<li class="header-navigation-item"><a href="#">My World</a></li>
					<li class="header-navigation-item"><a href="#">Clans</a></li>
					<li class="header-navigation-item"><a href="#">Games</a></li>
				</ul>
			</div>
			<div class="header-sub-navigation-container">
				<ul class="header-sub-navigation-list">
					<li>
						<a class="sub-navigation-item" href="#">My Album</a>
					</li>
					<li><a class="sub-navigation-item" href="#">Clan Album</a></li>
					<li><a class="sub-navigation-item" href="#">Publishers Albums</a></li>
				</ul>
			</div>
		</header>
		<main class="official-page">
			<div class="dashboard-layout">
				<div class="side-layout-menu-desktop history-page">
					<div class="column-wrapper">
						<div class="side-container-news-container">
							<img
								src="../../img/user_profile/side-news-bell.svg"
								alt="news bell"
								width="25"
								height="28"
							/>
						</div>
					</div>
					<div class="column-wrapper">
						<img
							src="../../img/player_profile/side-container-players-images.svg"
							width="71"
							height="21"
							alt="add friend icon"
						/>
						<span class="side-container-menu-text-bold">32 online</span>
					</div>
					<div class="column-wrapper">
						<span class="side-container-menu-text-bold">Your Clans</span>
						<div>
							<img
								src="../../img/player_profile/side-container-your-clan.svg"
								width="48"
								height="48"
								alt="image"
							/>
						</div>
						<div>
							<img
								src="../../img/player_profile/side-container-your-clan-2.svg"
								width="48"
								height="48"
								alt="image"
							/>
						</div>
					</div>
					<div class="column-wrapper">
						<span class="side-container-menu-text-bold">Your Games</span>
						<div>
							<img
								src="../../img/player_profile/side-container-your-games.svg"
								width="48"
								height="48"
								alt="image"
							/>
						</div>
						<div>
							<img
								src="../../img/player_profile/side-container-your-games-2.svg"
								width="48"
								height="48"
								alt="image"
							/>
						</div>
						<button type="button">
							<img
								src="../../img/user_profile/add-plus-button.svg"
								alt="add games"
							/>
						</button>
					</div>
				</div>
				<div class="official-page-inner">
					<div>
						<div class="publishing-nav">
							<div class="publishing-link">
								<a>
									<img
										src="../../img/player_profile/green-arrow-button.svg"
										width="15"
										height="18"
										alt="back"
									/>
								</a>
							</div>
							<div class="user-publishing-img">
								<img
									src="../../img/chat-user-2.png"
									width="50"
									height="50"
									alt="user-img"
								/>
							</div>
							<div>
								<p class="name-publisher">Mario</p>
								<div class="publishers-crumbs">
									<ul class="publisher-links">
										<li class="publishers-item">
											<a class="item-link">Album</a>
										</li>
										<li class="publishers-item">
											<a class="item-link">Publishers Album</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<section class="template-page-content mario"></section>
					</div>
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<div class="page-footer-container">
				<div class="logo-container">
					<img width="130" height="75" alt="logo" src="../../img/logo.svg" />
				</div>
				<div class="site-navigation">
					<ul class="navigation-list">
						<li class="list-item"><a href="#">Main</a></li>
						<li class="list-item"><a href="#">My World</a></li>
						<li class="list-item"><a href="#">Clans</a></li>
						<li class="list-item"><a href="#">Games</a></li>
						<li class="list-item"><a href="#">About Us</a></li>
					</ul>
				</div>
				<div class="social-contacts">
					<ul class="social-list-container">
						<li class="social-list">
							<a href="#"
								><span class="visually-hidden">Instagram</span
								><img
									alt="instagram"
									src="../../img/social-footer/Instagram.svg"
									height="32"
									width="32"
							/></a>
						</li>
						<li class="social-list">
							<a href="#"
								><span class="visually-hidden">Facebook</span
								><img
									alt="facebook"
									src="../../img/social-footer/Facebook.svg"
									height="32"
									width="32"
							/></a>
						</li>
						<li class="social-list">
							<a href="#"
								><span class="visually-hidden">Steam</span
								><img
									alt="steam"
									src="../../img/social-footer/Steam.svg"
									height="32"
									width="32"
							/></a>
						</li>
					</ul>
					<div>
						<button id="scroll-up-arrow">
							<img alt="scroll-up" src="../../img/scroll-up-arrow.svg" />
						</button>
					</div>
				</div>
			</div>
			<div class="copyright-container">
				<p>CopyRight &#169; 2022. Clans World. All rights reserved</p>
				<p><span>Terms & Conditions</span> Privacy Policy</p>
			</div>
		</footer>

		<!-- Menu from left -->

		<div class="offcanvas offcanvas-start" tabindex="-1" id="side-menu-toggle">
			<section class="side-menu">
				<h2 class="visually-hidden">Side Menu</h2>
				<div class="container side-menu-container">
					<div class="button-close-container">
						<button
							type="button"
							class="button-close"
							data-bs-dismiss="offcanvas"
							aria-label="Close"
						></button>
					</div>
					<div class="list-menu-container">
						<ul class="list-menu-links">
							<li class="list-menu-item">
								<details>
									<summary class="menu-item-style">Home</summary>
								</details>
							</li>
							<li class="list-menu-item">
								<details>
									<summary class="menu-item-style">My World</summary>
									<div class="drop-down-menu">
										<ul class="list-menu-links">
											<li>
												<a class="drop-down-style" href="#">My Profile</a>
											</li>
											<li>
												<a class="drop-down-style" href="#">Profile Setting</a>
											</li>
											<li><a class="drop-down-style" href="#">My Clan</a></li>
											<li>
												<a class="drop-down-style" href="#">Player Ranking</a>
											</li>
											<li>
												<a class="drop-down-style" href="#">Leader Board</a>
											</li>
										</ul>
									</div>
								</details>
							</li>
							<li class="list-menu-item">
								<details>
									<summary class="menu-item-style">Clans</summary>
									<div class="drop-down-menu">
										<ul class="list-menu-links">
											<li><a class="drop-down-style" href="#">Clan List</a></li>
											<li>
												<a class="drop-down-style" href="#">Clan Ranking</a>
											</li>
										</ul>
									</div>
								</details>
							</li>
							<li class="list-menu-item">
								<details>
									<summary class="menu-item-style">Games</summary>
									<div class="drop-down-menu">
										<ul class="list-menu-links">
											<li><a class="drop-down-style" href="#">All Games</a></li>
											<li><a class="drop-down-style" href="#">My Games</a></li>
											<li><a class="drop-down-style" href="#">Games</a></li>
										</ul>
									</div>
								</details>
							</li>
						</ul>
					</div>
					<div class="chat-button">
						<a href="#"
							><img
								height="43"
								alt="enter chat"
								width="130"
								src="../../img/chat-button.svg"
						/></a>
					</div>
				</div>
			</section>
		</div>

		<!-- End of Menu -->
		<script src="../../../index.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
