:root {
	--basic-deep-purple: #1b1a26;
	--light-grey: #e2e6ff;
	--light-green: #4fbb35;
	--neon-green: #03ff49;
	--dark-green: #63c14c;
	--light-blue: #19afff;
	--back-button-color: #e5e5e5;
	--background-main-color: #252734;
	--tomato-color: #ef5555;
}

.player-profile-bg-image,
.clan-profile-bg-image {
	position: relative;
	background-image: url('./img/player_profile/player-profile-image.svg');
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 124px;
	background-color: #21222e;
}

.clan-profile-bg-image {
	position: relative;
	background-image: url('./img/player_profile/player-profile-image.svg');
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 124px;
	background-color: #21222e;
}

.player-profile-image-container {
	top: 90%;
	transform: translate(-50%, -50%);
	left: 50%;
	position: absolute;
	padding: 0;
	width: 60px;
	height: 60px;
	background-image: url('./img/player_profile/player-image.svg');
	display: block;
}

.clan-slogan-container {
	background-color: var(--basic-deep-purple);
	border: 1px solid var(--neon-green);
	padding: 8px 16px;
	border-radius: 8px;
	margin-bottom: 16px;
}

.clan-slogan-header {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
}

.title-top {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	opacity: 0.5;
	color: var(--light-grey);
}

.info-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
}

.clan-info {
	display: flex;
	flex-direction: column;
}

.clan-info.language .title-top {
	padding-bottom: 8px;
}

.clan-information-container {
	max-width: 205px;
	margin: 0 auto;
	align-content: center;
}

.clan-info-sub-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.player-profile-information {
	justify-content: space-between;
	display: flex;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}

.user-profile-socials-container {
	width: 195px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.user-profile-socials-container button:not(:last-child) {
	margin-right: 20px;
}

.user-profile-socials {
	border: none;
	background-color: transparent;
	padding: 0;
}

.user-profile-button-container {
	display: flex;
	flex-direction: column;
	max-width: 217px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.user-profile-button-container button,
.user-profile-button-container select {
	padding: 10px 25px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	border: none;
	border-radius: 30px;
	outline: none;
}

.user-profile-add-button {
	background-color: var(--light-green);
	margin-bottom: 15px;
}

.user-profile-select-player {
	background-color: var(--light-blue);
	max-width: 162px;
	margin: 0 auto;
}

.user-profile-menu {
	padding-top: 20px;
	padding-bottom: 5px;
	margin: 0 auto;
	max-width: 940px;
	background-color: var(--background-main-color);
}

.user-profile-container {
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 16px;
}

.user-profile-game-container {
	flex-shrink: 0;
	margin-right: 10px;
	position: relative;
}

.user-profile-games {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.user-image-overlay {
	position: absolute;
	bottom: 18px;
	left: 15px;
	padding: 18px;
	border-radius: 14px;
	width: 175px;
	backdrop-filter: blur(32px);
	height: 150px;
}

.profile-count {
	position: absolute;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: var(--light-grey);
	opacity: 0.5;
}

.games {
	top: 22px;
	left: 205px;
}

.screenshots {
	top: 22px;
	right: 115px;
}

.album {
	top: 22px;
	left: 180px;
}

.profile-page-button {
	position: absolute;
	top: 20px;
	right: 16px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--neon-green);
	border: none;
	background-color: transparent;
}

.user-game-button.play::after {
	position: absolute;
	content: '';
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('./img/player_profile/play-game.svg');
	bottom: 5px;
	left: 84px;
}

.user-profile-screenshots {
	margin-top: 16px;
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 16px;
}

.profile-delete-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	background-color: var(--tomato-color);
	border-radius: 30px;
	padding: 8px 24px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	cursor: pointer;
}

.user-profile-game-container.screenshot:hover img {
	opacity: 0.7;
	border-radius: 10px;
}

.active-links {
	display: none;
}

.user-profile-game-container.screenshot .profile-game-screenshot:hover {
	border: 1px solid var(--neon-green);
}

.user-profile-game-container.screenshot:hover .active-links {
	display: block;
}

.profile-cross-close-button {
	position: absolute;
	top: 14px;
	right: 14px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.user-profile-slider {
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 16px;
	margin-bottom: 5px;
}

/* Swiper */

.swiper {
	width: 100%;
	padding-bottom: 40px;
	background-color: var(--basic-deep-purple);
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 213px;
	height: 123px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
}

.slider-album {
	background-color: var(--basic-deep-purple);
}

.swiper-pagination-bullet {
	background-color: var(--neon-green);
	width: 16px;
	height: 4px;
	border-radius: 10px;
}

/* Swiper - 2 */

.swiper-slide-awards img {
	display: block;
	width: 100%;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
}

.swiper-awards {
	width: 100%;
	padding-bottom: 40px;
	background-color: var(--basic-deep-purple);
}

/* Swiper-2 */

.user-award-slider {
	background-color: var(--basic-deep-purple);
	padding: 20px 40px;
}

.awards-header {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	text-align: center;
	padding-bottom: 20px;
}

.side-profile-clans-info {
	background-color: var(--background-main-color);
}

.clans-info-header {
	margin: 0;
	text-align: center;
	color: var(--light-grey);
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.green-style {
	color: var(--neon-green);
}

.top-clans-container {
	max-width: 220px;
	margin: 0 auto;
}

.chart-place-container {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 16px;
	padding-bottom: 25px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.chart-place-container.first-place::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -42px;
	width: 82px;
	height: 150px;
	background-image: url('./img/player_profile/first-place-prize.svg');
}

.chart-place-container.second-place::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -30px;
	width: 58px;
	height: 107px;
	background-image: url('./img/player_profile/second-place-prize.svg');
}

.chart-place-container.third-place::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -27px;
	width: 53px;
	height: 97px;
	background-image: url('./img/player_profile/third-place-prize.svg');
}

.side-profile-container {
	padding: 30px 55px;
	background-color: var(--basic-deep-purple);
	margin-bottom: 5px;
}

.chart-place-container.first-place {
	background: linear-gradient(
		99.75deg,
		rgba(111, 74, 198, 0.2) 30.87%,
		rgba(167, 133, 245, 0.2) 84.74%
	);
	backdrop-filter: blur(22px);
	border-radius: 5px 30px;
	height: 108px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.chart-place-container.second-place {
	background: linear-gradient(
		128.39deg,
		rgba(9, 193, 138, 0.2) 3.68%,
		rgba(123, 255, 168, 0.2) 98.36%
	);
	backdrop-filter: blur(22px);
	border-radius: 5px 30px;
	height: 108px;
	margin-bottom: 20px;
}

.chart-place-container.third-place {
	background: linear-gradient(
		131.22deg,
		rgba(9, 94, 193, 0.2) 2.14%,
		rgba(123, 239, 255, 0.2) 100%
	);
	backdrop-filter: blur(22px);
	border-radius: 5px 30px;
	height: 108px;
	margin-bottom: 20px;
}

.clans-status {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	display: block;
	margin-right: 20px;
	margin-bottom: 0;
}

.gear-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	text-align: center;
}

.redream-gears-container {
	background-color: var(--basic-deep-purple);
	padding: 30px 16px 25px;
	margin-bottom: 5px;
}

.gear-image-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.gear-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gear-button {
	border: none;
	padding: 8px 15px;
	background-color: var(--light-green);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	border-radius: 30px;
}

.redream-latest-activity-container {
	background-color: var(--basic-deep-purple);
	padding: 30px;
	margin-bottom: 30px;
}

.latest-activity-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	text-align: center;
}

.latest-activity-image-container {
	width: 135px;
}

.latest-activity-image {
	width: 143px;
	height: 150px;
}
.latest-activity-content {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	background-color: var(--background-main-color);
	border-radius: 10px;
}

.latest-activity-description {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 8px;
}

.latest-activity-description-container {
	width: 135px;
	padding-top: 25px;
}

.latest-activity-event {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	margin-bottom: 30px;
}

.time-activity {
	margin: 0;
	font-weight: 400;
	font-size: 9px;
	line-height: 11px;
	color: rgba(255, 255, 255, 0.7);
}

/* Clan Page */

.clan-name-container {
	background-color: #252734;
	padding-top: 25px;
	padding-bottom: 20px;
}

.clan-name-header {
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: var(--light-grey);
}
