:root {
	--basic-deep-purple: #1b1a26;
	--light-grey: #e2e6ff;
	--light-green: #4fbb35;
	--neon-green: #03ff49;
	--dark-green: #63c14c;
	--light-blue: #19afff;
	--back-button-color: #e5e5e5;
	--background-main-color: #252734;
	--tomato-color: #ef5555;
}

.player-profile-bg-image,
.clan-profile-bg-image {
	position: relative;
	background-image: url('./img/player_profile/player-profile-image.svg');
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 124px;
	background-color: #21222e;
	border-bottom: 1px solid var(--neon-green);
}

.clan-game-option-button {
	position: absolute;
	padding: 0;
	background-image: url('./img/player_profile/game-option-button.svg');
	width: 5px;
	height: 16px;
	background-color: transparent;
	background-repeat: no-repeat;
	top: 12px;
	right: 12px;
	border: none;
}

.clan-profile-bg-image {
	position: relative;
	background-image: url('./img/player_profile/player-profile-image.svg');
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 124px;
	background-color: #21222e;
}

.player-profile-image-container {
	top: 90%;
	transform: translate(-50%, -50%);
	left: 50%;
	position: absolute;
	padding: 0;
	width: 60px;
	height: 60px;
	background-image: url('./img/player_profile/player-image.svg');
	display: block;
	background-repeat: no-repeat;
}

.clan-slogan-container {
	background-color: var(--basic-deep-purple);
	border: 1px solid var(--neon-green);
	padding: 8px 16px;
	border-radius: 8px;
	margin-bottom: 16px;
}

.clan-slogan-header {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
}

.title-top {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	opacity: 0.5;
	color: var(--light-grey);
}

.info-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
}

.clan-info {
	display: flex;
	flex-direction: column;
}

.clan-info.language .title-top {
	padding-bottom: 8px;
}

.clan-information-container {
	transform: scale(1);
	width: 205px;
	margin: 0 auto;
	margin-top: -16px;
	align-content: center;
	background-color: var(--basic-deep-purple);
}

.clan-info-sub-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.player-profile-information {
	justify-content: space-between;
	display: flex;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}

.user-profile-socials-container {
	width: 195px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.user-profile-socials-container button:not(:last-child) {
	margin-right: 20px;
}

.user-profile-socials {
	border: none;
	background-color: transparent;
	padding: 0;
}

.user-profile-button-container {
	display: flex;
	flex-direction: column;
	max-width: 217px;
	margin: 0 auto;
	margin-bottom: 20px;
	align-items: center;
}

.user-profile-button-container button,
.clan-invite-select,
.clan-invite-select-desktop,
.clan-leader-board,
.user-profile-button-container select {
	padding: 10px 25px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	border: none;
	border-radius: 30px;
	outline: none;
}

.user-profile-add-button,
.clan-leader-board {
	background-color: var(--light-green);
	margin-bottom: 15px;
}

.user-profile-select-player,
.clan-invite-select,
.clan-invite-select-desktop {
	background-color: var(--light-blue);
	max-width: 162px;
	margin: 0 auto;
}

.user-profile-menu {
	padding-top: 20px;
	padding-bottom: 5px;
	margin: 0 auto;
	max-width: 940px;
	background-color: var(--background-main-color);
}

.user-profile-container {
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 16px;
}

.user-profile-game-container {
	flex-shrink: 0;
	margin-right: 10px;
	position: relative;
}

.user-profile-games {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.user-image-overlay,
.clan-image-overlay {
	position: absolute;
	bottom: 18px;
	left: 15px;
	padding: 18px;
	border-radius: 14px;
	width: 175px;
	backdrop-filter: blur(32px);
	height: 150px;
}

.profile-count,
.clan-count {
	position: absolute;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: var(--light-grey);
	opacity: 0.5;
}

.games {
	top: 22px;
	left: 157px;
}

.screenshots {
	top: 22px;
	left: 242px;
}

.album {
	top: 22px;
	left: 180px;
}

.profile-page-button,
.clan-games-button,
.clan-gallery-button {
	position: absolute;
	top: 20px;
	right: 16px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--neon-green);
	border: none;
	background-color: transparent;
}

.user-game-button.play::after {
	position: absolute;
	content: '';
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('./img/player_profile/play-game.svg');
	bottom: 5px;
	left: 84px;
}

.user-profile-screenshots {
	margin-top: 16px;
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 16px;
}

.profile-delete-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	background-color: var(--tomato-color);
	border-radius: 30px;
	padding: 8px 24px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	cursor: pointer;
}

.user-profile-game-container.screenshot:hover img {
	opacity: 0.7;
	border-radius: 10px;
}

.active-links {
	display: none;
}

.user-profile-game-container.screenshot .profile-game-screenshot:hover {
	border: 1px solid var(--neon-green);
}

.user-profile-game-container.screenshot:hover .active-links {
	display: block;
}

.profile-cross-close-button {
	position: absolute;
	top: 14px;
	right: 14px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.user-profile-slider {
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 16px;
	margin-bottom: 5px;
}

/* Swiper */

.swiper {
	width: 100%;
	padding-bottom: 40px;
	background-color: var(--basic-deep-purple);
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 213px;
	height: 123px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
}

.slider-album {
	background-color: var(--basic-deep-purple);
}

.swiper-pagination-bullet {
	background-color: var(--neon-green);
	width: 16px;
	height: 4px;
	border-radius: 10px;
}

/* Swiper - 2 */

.swiper-slide-awards img {
	display: block;
	width: 100%;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
}

.swiper-awards {
	width: 100%;
	padding-bottom: 40px;
	background-color: var(--basic-deep-purple);
}

/* Swiper-2 */

.user-award-slider {
	background-color: var(--basic-deep-purple);
	padding: 20px 40px;
}

.awards-header {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	text-align: center;
	padding-bottom: 20px;
}

.side-profile-clans-info {
	background-color: var(--background-main-color);
}

.clans-info-header {
	margin: 0;
	text-align: center;
	color: var(--light-grey);
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.green-style {
	color: var(--neon-green);
}

.top-clans-container {
	max-width: 220px;
	margin: 0 auto;
}

.chart-place-container {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 16px;
	padding-bottom: 25px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.chart-place-container.first-place::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -42px;
	width: 82px;
	height: 150px;
	background-image: url('./img/player_profile/first-place-prize.svg');
}

.chart-place-container.second-place::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -30px;
	width: 58px;
	height: 107px;
	background-image: url('./img/player_profile/second-place-prize.svg');
}

.chart-place-container.third-place::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -27px;
	width: 53px;
	height: 97px;
	background-image: url('./img/player_profile/third-place-prize.svg');
}

.side-profile-container {
	padding: 30px 55px;
	background-color: var(--basic-deep-purple);
	margin-bottom: 5px;
}

.chart-place-container.first-place {
	background: linear-gradient(
		99.75deg,
		rgba(111, 74, 198, 0.2) 30.87%,
		rgba(167, 133, 245, 0.2) 84.74%
	);
	backdrop-filter: blur(22px);
	border-radius: 5px 30px;
	height: 108px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.chart-place-container.second-place {
	background: linear-gradient(
		128.39deg,
		rgba(9, 193, 138, 0.2) 3.68%,
		rgba(123, 255, 168, 0.2) 98.36%
	);
	backdrop-filter: blur(22px);
	border-radius: 5px 30px;
	height: 108px;
	margin-bottom: 20px;
}

.chart-place-container.third-place {
	background: linear-gradient(
		131.22deg,
		rgba(9, 94, 193, 0.2) 2.14%,
		rgba(123, 239, 255, 0.2) 100%
	);
	backdrop-filter: blur(22px);
	border-radius: 5px 30px;
	height: 108px;
	margin-bottom: 20px;
}

.clans-status {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	display: block;
	margin-right: 20px;
	margin-bottom: 0;
}

.gear-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	text-align: center;
}

.redream-gears-container {
	background-color: var(--basic-deep-purple);
	padding: 30px 16px 25px;
	margin-bottom: 5px;
}

.gear-image-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.gear-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gear-button {
	border: none;
	padding: 8px 15px;
	background-color: var(--light-green);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	border-radius: 30px;
}

.redream-latest-activity-container {
	background-color: var(--basic-deep-purple);
	padding: 30px;
	margin-bottom: 30px;
}

.latest-activity-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	text-align: center;
}

.latest-activity-image-container {
	width: 135px;
}

.latest-activity-image {
	width: 143px;
	height: 150px;
}
.latest-activity-content {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	background-color: var(--background-main-color);
	border-radius: 10px;
}

.latest-activity-description {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 8px;
}

.latest-activity-description-container {
	width: 135px;
	padding-top: 25px;
}

.latest-activity-event {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	margin-bottom: 30px;
}

.time-activity {
	margin: 0;
	font-weight: 400;
	font-size: 9px;
	line-height: 11px;
	color: rgba(255, 255, 255, 0.7);
}

.clan-name-container {
	background-color: #252734;
	padding-top: 25px;
	padding-bottom: 20px;
}

.clan-name-header {
	margin: 0;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: var(--light-grey);
}

.clan-flag-container {
	display: flex;
	flex-wrap: wrap;
}

.clan-profile-menu {
	padding-bottom: 5px;
	margin: 0 auto;
	max-width: 940px;
	background-color: var(--background-main-color);
}

.clan-persons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: var(--background-main-color);
}

.clan-persons-list {
	white-space: nowrap;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-x: auto;
}

.clan-persons-list li:not(:last-child) {
	margin-right: 16px;
}

.person-info-container {
	display: flex;
	padding: 12px;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
}

.person-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
}

.person-link-item {
	flex-shrink: 0;
}

.person-clan-image {
	width: 50px;
	height: 60px;
}

.person-status {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	opacity: 0.5;
}

.person-image-container {
	margin-right: 12px;
}

.clan-active-games {
	position: relative;
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 16px;
	margin-bottom: 16px;
}

.clan-games-header,
.clan-gallery-header {
	top: 20px;
	left: 25px;
	position: absolute;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light-grey);
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

.clan-games-header::before,
.clan-gallery-header::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

.clan-profile-games,
.clan-profile-gallery {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.clan-game-container,
.clan-gallery-container {
	flex-shrink: 0;
	position: relative;
	margin-right: 12px;
}

.gallery {
	top: 22px;
	left: 159px;
}

.clan-gallery {
	position: relative;
	background-color: var(--basic-deep-purple);
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 16px;
	margin-bottom: 16px;
}

.strong-players-container {
	padding: 40px 25px 40px 40px;
	background-color: var(--basic-deep-purple);
	background-image: url('./img/player_profile/players-bg-image.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.develop-clan-header {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	color: var(--light-grey);
	margin-bottom: 25px;
}

.player-card {
	position: relative;
}

.player-photo {
	border: 3px solid #25252d;
	border-radius: 30px;
}

.strong-players-top-container {
	display: flex;
	justify-content: space-between;
}

.strong-players-bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.refresh-button-container {
	padding: 0;
	border: none;
	background-color: transparent;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-image: url('./img/player_profile/clan-refresh-buton.svg');
}

.card-bottom-side {
	background-color: var(--background-main-color);
	height: 71px;
	width: 123px;
	border-radius: 0 0 10px 10px;
}

.player-photo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clan-logo-container {
	padding: 40px 70px 50px;
	background-color: var(--basic-deep-purple);
	margin-bottom: 5px;
}

.clan-logo-style {
	margin: 0 auto;
	background-size: cover;
}

.clan-language-container {
	padding: 30px 80px 30px 70px;
	background-color: var(--basic-deep-purple);
	margin-bottom: 5px;
}

.clan-language-header {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	margin-bottom: 20px;
}

.languages-container {
	display: flex;
	flex-wrap: wrap;
}

.languages-container .language-flag-container:not(:last-child) {
	margin-right: 18px;
}

.clans-communication-container {
	padding: 30px 82px 35px 68px;
	background-color: var(--basic-deep-purple);
	margin-bottom: 5px;
}

.clans-communication-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--light-grey);
	margin-bottom: 25px;
}

.clan-social-container {
	display: flex;
}

.clan-social-container .clan-social-image:not(:last-child) {
	margin-right: 35px;
}

.player-communication-container {
	background-color: var(--basic-deep-purple);
}

.message-container {
	padding: 30px 35px;
	background-color: var(--basic-deep-purple);
	margin-bottom: 50px;
}

.player-name {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: var(--light-grey);
	margin-bottom: 5px;
}

.message-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(226, 230, 255, 0.5);
}

.message-style {
	color: #fff;
	font-weight: 600;
}

.message-inner-container {
	background-color: var(--background-main-color);
	padding: 16px;
	border-radius: 15px;
}

.message-top-container {
	display: flex;
}

.players-icons-container {
	width: 100px;
	margin-right: 16px;
}

.message-buttons-container {
	display: flex;
	justify-content: space-between;
}

.clan-information-buttons-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.main-page-player-ranking {
	background-color: var(--basic-deep-purple);
}

.leader-board-page {
	background-color: var(--background-main-color);
}

.player-ranking-container {
	padding: 25px 15px;
	padding-top: 0;
	margin-top: 25px;
	position: relative;
}

.player-ranking-list {
	position: relative;
	background-color: var(--basic-deep-purple);
	padding: 20px 12px;
	border-radius: 12px;
}

.ranking-list-header {
	top: 20px;
	left: 25px;
	position: absolute;
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	color: var(--light-grey);
}

.ranking-list-header::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

/* Ranking Tabs */

.ranking-tabs {
	padding-top: 65px;
}

.ranking-tabs .rank-input,
.leader-board-tabs .leader-input {
	display: none;
}

.ranking-tabs .rank-content {
	display: none;
	border: none;
	padding: 12px 8px;
	background-color: var(--background-main-color);
	margin-bottom: 20px;
	border-radius: 12px;
}

.leader-board-tabs .leader-content,
.leader-board-tabs .organizational-content {
	display: none;
	border: none;
	padding: 30px 30px 16px 16px;
	background-color: var(--background-main-color);
	margin-bottom: 20px;
	border-radius: 12px;
}

#worldList:checked ~ #worldList,
#continentalList:checked ~ #continentalList,
#nationalList:checked ~ #nationalList,
#timeRelated:checked ~ #timeRelated,
#organizational:checked ~ #organizational {
	display: block;
}

.label-first-child {
	margin-left: 45px;
}

.ranking-tabs .rank-label,
.leader-board-tabs .leader-rank {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	padding: 5px 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	opacity: 0.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
	top: 1px;
}

.ranking-tabs .rank-input:checked + .rank-label,
.leader-board-tabs .leader-input:checked + .leader-rank {
	background-color: #272633;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	color: var(--neon-green);
	opacity: 1;
}

/* ============= */

.ranking-item-container {
	display: flex;
	align-items: center;
	background-color: transparent;
	border-radius: 12px;
	padding-left: 12px;
	padding-right: 20px;
}

.left-side-rank-container {
	display: flex;
	min-width: 175px;
	margin-right: auto;
	align-items: center;
}

.right-side-rank-container {
	display: flex;
	align-items: center;
}

.ranking-item-container.top-place {
	background-color: var(--basic-deep-purple);
	padding: 12px 15px 10px 12px;
}

.world-ranking-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.world-ranking-list-item {
	margin-bottom: 12px;
	position: relative;
}

.ranking-place span {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	opacity: 0.7;
}

.ranking-place {
	margin-right: 15px;
}

.rank-player-photo.special {
	margin-right: 8px;
}

.rank-player-photo {
	margin-right: 15px;
}

.player-avatar {
	margin-right: 12px;
}

.player-prize-container {
	margin-right: 10px;
}

.ranking-place.first-place span {
	background: linear-gradient(
		106.44deg,
		#b18718 15.23%,
		#d2a935 24.23%,
		#f2d77c 34.71%,
		#d2a935 44.76%,
		#b78d1d 54.81%,
		#d2a935 64.42%,
		#e9ca67 74.9%,
		#d2a935 85.39%,
		#b88e1e 95%,
		#d6af3e 99.1%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	opacity: 0.7;
}

.ranking-place.second-place span {
	background: linear-gradient(
		110.73deg,
		#56524f -4.03%,
		#787470 7.04%,
		#95918e 16.71%,
		#c7c7c7 25.85%,
		#bbbbbb 35.53%,
		#a3a3a3 46.81%,
		#999999 58.64%,
		#b2b2b2 69.39%,
		#dddddd 80.13%,
		#c4c4c4 91.42%,
		#9a9a9a 99.16%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	opacity: 0.7;
}

.ranking-place.third-place span {
	background: linear-gradient(
		111.01deg,
		#845625 4.43%,
		#a6671e 15.38%,
		#d38e57 27.04%,
		#f3d1b1 38.7%,
		#d38e57 50.37%,
		#a4661e 61.52%,
		#875724 73.18%,
		#cf8a52 82.31%,
		#f2cead 92.45%,
		#cf8a52 101.78%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	opacity: 0.7;
}

.player-name-style {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.player-score-container {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
}

.silver-prize-container {
	background: linear-gradient(
		110.73deg,
		#56524f -4.03%,
		#787470 7.04%,
		#95918e 16.71%,
		#c7c7c7 25.85%,
		#bbbbbb 35.53%,
		#a3a3a3 46.81%,
		#999999 58.64%,
		#b2b2b2 69.39%,
		#dddddd 80.13%,
		#c4c4c4 91.42%,
		#9a9a9a 99.16%
	);
	padding: 1px;
	border-radius: 12px;
}

.golden-prize-container {
	padding: 1px;
	border-radius: 12px;
	background: linear-gradient(
		106.44deg,
		#b18718 15.23%,
		#d2a935 24.23%,
		#f2d77c 34.71%,
		#d2a935 44.76%,
		#b78d1d 54.81%,
		#d2a935 64.42%,
		#e9ca67 74.9%,
		#d2a935 85.39%,
		#b88e1e 95%,
		#d6af3e 99.1%
	);
}

.bronze-prize-container {
	padding: 1px;
	border-radius: 12px;
	background: linear-gradient(
		111.01deg,
		#845625 4.43%,
		#a6671e 15.38%,
		#d38e57 27.04%,
		#f3d1b1 38.7%,
		#d38e57 50.37%,
		#a4661e 61.52%,
		#875724 73.18%,
		#cf8a52 82.31%,
		#f2cead 92.45%,
		#cf8a52 101.78%
	);
}

.last-on-page {
	color: var(--neon-green);
}

.ranking-place .last-on-page {
	color: var(--neon-green);
}

.load-more-players-container {
	text-align: center;
}

.leader-board-menu-container {
	margin: 15px auto;
	max-width: 940px;
	background-color: var(--background-main-color);
}

.leader-board-personalities {
	padding: 16px 20px 15px 30px;
	background-color: #1e1d2b;
}

.leader-board-navigation-container {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.leader-board-header {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: var(--light-grey);
	margin-bottom: 5px;
}

.leader-board-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	opacity: 0.7;
}

.leader-board-links {
	margin: 0;
	display: flex;
	padding: 0;
	list-style: none;
}
.leader-board-links .leader-board-item + .leader-board-item {
	margin-left: 20px;
}

.leader-board-item {
	position: relative;
}

.leader-board-links .leader-board-item + .leader-board-item::before {
	position: absolute;
	display: block;
	content: '';
	width: 4px;
	height: 4px;
	background-color: var(--neon-green);
	background-position: 50% 50%;
	border-radius: 50%;
	left: -12px;
	top: 11px;
}

.leader-board-navigation-button {
	margin-right: 25px;
}

.first-label-rank {
	margin-left: 14px;
}

.leaderboard-image-container {
	margin-right: 15px;
}

.player-rank,
.player-rank-score {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: black;
	opacity: 0.5;
	margin-bottom: 0;
}

.player-related-name {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: black;
	opacity: 0.5;
	margin-bottom: 12px;
}

.leader-page-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: linear-gradient(
		110.73deg,
		rgba(86, 82, 79, 0.7) -4.03%,
		rgba(120, 116, 112, 0.7) 7.04%,
		rgba(149, 145, 142, 0.7) 16.71%,
		rgba(230, 230, 230, 0.7) 25.85%,
		rgba(187, 187, 187, 0.7) 35.53%,
		rgba(163, 163, 163, 0.7) 46.81%,
		rgba(153, 153, 153, 0.7) 58.64%,
		rgba(178, 178, 178, 0.7) 69.39%,
		rgba(241, 241, 241, 0.7) 80.13%,
		rgba(196, 196, 196, 0.7) 91.42%,
		rgba(154, 154, 154, 0.7) 99.16%
	);
	border-radius: 10px;
	border: 1px solid silver;
	border-radius: 10px;
}

.elder-page-container,
.veteran-page-container,
.prospect-page-container {
	display: flex;
	justify-content: space-between;
	padding: 20px 10px 10px 20px;
	border-radius: 10px;
	background-color: #3e3835;
	border: 1px solid #93762b;
}

.veteran-page-container {
	background-color: #363541;
	border: 1px solid #969599;
}

.prospect-page-container {
	background-color: #352e35;
	border: 1px solid #b59882;
}

.player-image-container {
	margin-top: -40px;
	margin-right: -35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.time-related-status {
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 35px;
}

.elder-list,
.veteran-list,
.prospect-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.elder-list .elder-list-item + .elder-list-item,
.veteran-list .veteran-list-item + .veteran-list-item,
.prospect-list .prospect-list-item + .prospect-list-item {
	margin-top: 25px;
}

.elder-name {
	background: linear-gradient(
		106.44deg,
		#b18718 15.23%,
		#d2a935 24.23%,
		#f9e8af 34.71%,
		#d2a935 44.76%,
		#b78d1d 54.81%,
		#d2a935 64.42%,
		#fdeab0 74.9%,
		#d2a935 85.39%,
		#b88e1e 95%,
		#d6af3e 99.1%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.veteran-name {
	background: linear-gradient(
		110.73deg,
		#56524f -4.03%,
		#787470 7.04%,
		#95918e 16.71%,
		#e6e6e6 25.85%,
		#bbbbbb 35.53%,
		#a3a3a3 46.81%,
		#999999 58.64%,
		#b2b2b2 69.39%,
		#f1f1f1 80.13%,
		#c4c4c4 91.42%,
		#9a9a9a 99.16%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.prospect-name {
	background: linear-gradient(
		111.01deg,
		#845625 4.43%,
		#a6671e 15.38%,
		#d38e57 27.04%,
		#ffe1c5 38.7%,
		#c77e44 50.37%,
		#a4661e 61.52%,
		#875724 73.18%,
		#cf8a52 82.31%,
		#ffe5cc 92.45%,
		#cf8a52 101.78%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.player-rank.elder-rank,
.player-rank.prospect-rank,
.player-rank.veteran-rank {
	color: var(--light-grey);
	opacity: 0.7;
}

.player-plate-container {
	margin-top: 7px;
	padding: 7px;
	background: linear-gradient(
		106.44deg,
		#b18718 15.23%,
		#d2a935 24.23%,
		#f2d77c 34.71%,
		#d2a935 44.76%,
		#b78d1d 54.81%,
		#d2a935 64.42%,
		#e9ca67 74.9%,
		#d2a935 85.39%,
		#b88e1e 95%,
		#d6af3e 99.1%
	);
	border-radius: 5px;
}

.player-plate-container-veteran {
	margin-top: 7px;
	padding: 6px;
	background: linear-gradient(
		110.73deg,
		#56524f -4.03%,
		#787470 7.04%,
		#95918e 16.71%,
		#e6e6e6 25.85%,
		#bbbbbb 35.53%,
		#a3a3a3 46.81%,
		#999999 58.64%,
		#b2b2b2 69.39%,
		#f1f1f1 80.13%,
		#c4c4c4 91.42%,
		#9a9a9a 99.16%
	);
	border-radius: 5px;
}

.player-plate-container-prospect {
	border-radius: 5px;
	padding: 6px;
	background: linear-gradient(
		111.01deg,
		#845625 4.43%,
		#a6671e 15.38%,
		#d38e57 27.04%,
		#ffe1c5 38.7%,
		#c77e44 50.37%,
		#a4661e 61.52%,
		#875724 73.18%,
		#cf8a52 82.31%,
		#ffe5cc 92.45%,
		#cf8a52 101.78%
	);
}

.player-plate-name {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	opacity: 0.5;
	margin: 0;
}

.elder-rank-score,
.veteran-rank-score,
.prospect-rank-score {
	color: var(--light-grey);
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 0;
}

.side-user-profile-socials-container {
	display: none;
}

.chat-button-container {
	display: none;
}

.search-screenshot-container {
	display: none;
}

.search-screenshot-main {
	position: absolute;
	bottom: 240px;
	left: 350px;
}

.search-album-main {
	position: absolute;
	bottom: 325px;
	left: 350px;
}

.screenshot-search-input {
	background-color: transparent;
	border: 0.3px solid #e2e6ff;
	border-radius: 25px;
	padding: 8px 15px;
	min-width: 220px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--light-grey);
	opacity: 0.5;
	outline: none;
}

.album-search-input {
	border: 0.3px solid #03ff49;
	background-color: transparent;
	border-radius: 25px;
	padding: 8px 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--light-grey);
	min-width: 220px;
	outline: none;
}

.search-screenshot-icon {
	position: absolute;
	bottom: 8px;
	left: 190px;
}

.side-container-news-counter {
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.side-container-news-clans {
	position: absolute;
	bottom: 40px;
	left: 60px;
}

.side-container-news-games {
	position: absolute;
	bottom: 40px;
	left: 65px;
}

.side-container-news-container {
	position: relative;
}

.users-online-style {
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--light-grey);
	margin-top: 7px;
}

.column-wrapper div + div {
	margin-top: 12px;
}

.column-wrapper div {
	position: relative;
}

.column-wrapper span {
	display: block;
	margin-bottom: 25px;
}

.desktop-select-container,
.player-ranking-pagination,
.desktop-prize-container,
.ranking-list-separator,
.desktop-score-style,
.desktop-score-style-special {
	display: none;
}

.player-ranking-page {
	background-color: #262835;
}

@media screen and (min-width: 1200px) {
	.side-profile-clans-info {
		width: 385px;
		display: flex;
		flex-direction: column;
	}

	.user-profile-menu {
		background-color: transparent;
	}

	.user-profile-socials-container {
		display: none;
	}

	.player-profile-setting {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	.user-profile-button-container {
		flex-direction: row;
		margin: 30px 0 0 0;
		min-width: 377px;
		justify-content: space-between;
		align-items: flex-start;
		padding-right: 12px;
	}

	.player-profile-information {
		padding-top: 32px;
	}

	.player-profile-image-container {
		width: 150px;
		height: 150px;
		top: 82%;
		background-image: url('./img/player_profile/big-image-pf.svg');
		background-size: contain;
	}

	.my-profile-header {
		bottom: 51px;
		right: 51%;
	}

	.profile-page-button,
	.clan-gallery-button {
		padding: 8px 25px;
		background-color: var(--light-green);
		color: var(--light-grey);
		border-radius: 30px;
	}

	.side-user-profile-socials-container {
		display: flex;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 5px;
		background-color: var(--basic-deep-purple);
	}

	.profile-socials-container {
		margin-left: auto;
		padding: 0 50px;
	}

	.user-profile-socials + .user-profile-socials {
		margin-left: 20px;
	}

	.games {
		top: 26px;
		left: 235px;
	}
	.screenshots {
		top: 38px;
		left: 280px;
	}

	.album {
		top: 38px;
		left: 210px;
	}

	.redream-latest-activity-container {
		margin-bottom: 0;
	}

	.chat-button-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-grow: 1;
		background-color: var(--basic-deep-purple);
	}

	.chat-button-desktop {
		padding-top: 30px;
	}

	.user-award-slider {
		display: none;
	}

	.player-profile-bg-image {
		height: 220px;
	}

	.my-profile-page {
		padding: 15px 30px 70px;
	}

	.swiper-slide {
		width: 425px;
		height: 245px;
	}

	.swiper {
		margin-top: 25px;
	}
	.user-profile-games {
		margin-top: 30px;
	}
	.user-profile-container,
	.user-profile-screenshots {
		padding-bottom: 30px;
	}

	.search-screenshot-container {
		display: block;
		position: relative;
	}

	.clan-slogan-header {
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		color: var(--light-grey);
		text-align: center;
	}

	.clan-slogan-container {
		width: 320px;
		margin: 0 auto;
	}

	.clan-information-container {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 0 0 15px 15px;
	}

	.clan-information {
		display: flex;
		margin-top: 25px;
	}

	.clan-info,
	.clan-info-sub-container {
		margin-right: 40px;
	}

	.clan-invite-select {
		display: none;
	}

	.clan-leader-board {
		position: absolute;
		top: 363px;
	}

	.clan-profile-bg-image {
		height: 220px;
		z-index: 22;
	}

	.clan-name-header {
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
	}

	.clan-page-desktop {
		background-color: var(--background-main-color);
		padding-top: 0;
	}

	.clan-active-games,
	.clan-gallery,
	.strong-players-container {
		border-radius: 15px;
	}

	.develop-clan-header {
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;
	}

	.clan-social-image img {
		width: 46px;
		height: 46px;
	}

	.clan-info-sub-container .info-name {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}

	.clan-games-header,
	.clan-gallery-header,
	.ranking-list-header {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		left: 41px;
	}

	.clan-games-header::before,
	.ranking-list-header::before,
	.clan-gallery-header::before {
		width: 31px;
		margin-left: -40px;
	}

	.ranking-tabs .rank-label,
	.leader-board-tabs .leader-rank {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		padding: 15px 45px;
	}

	.profile-count,
	.clan-count {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
	}

	.gallery {
		top: 25px;
		left: 237px;
	}

	.person-name {
		font-size: 24px;
		line-height: 28px;
	}

	.clans-communication-header,
	.clan-language-header {
		font-size: 24px;
		line-height: 28px;
	}

	.clan-games-button {
		display: none;
	}

	.desktop-select-container {
		display: block;
		text-align: center;
	}

	.clan-persons-container {
		justify-content: flex-start;
	}

	.clan-gallery-button {
		right: 34px;
	}

	.label-first-child {
		margin-left: 160px;
	}

	.player-ranking-list {
		padding-top: 45px;
		padding-bottom: 40px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.ranking-tabs {
		padding-top: 0;
	}

	.ranking-list-header {
		top: 54px;
	}

	.ranking-tabs .rank-content {
		padding: 40px 25px;
		margin-bottom: 35px;
	}

	.ranking-item-container,
	.golden-prize-container,
	.silver-prize-container,
	.bronze-prize-container {
		border-radius: 40px;
	}

	.world-ranking-list-item .left-side-rank-container img {
		width: 60px;
		height: 60px;
	}

	.player-name-style {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
	}

	.player-avatar,
	.rank-player-photo {
		margin-right: 25px;
	}

	.ranking-item-container.top-place,
	.ranking-item-container {
		padding-left: 35px;
		padding-right: 45px;
	}

	.ranking-place span {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	.player-score-container {
		position: relative;
		font-size: 24px;
		line-height: 28px;
	}

	.ranking-place {
		margin-right: 32px;
	}

	.score-style {
		margin-right: 170px;
	}

	.world-ranking-list-item {
		margin-bottom: 40px;
	}

	.profile-form-big-button {
		display: none;
	}

	.player-ranking-pagination,
	.desktop-prize-container {
		display: flex;
	}

	.desktop-player-ranking-page {
		display: flex;
	}

	.message-container {
		margin-bottom: 0;
	}

	.ranking-list-separator {
		display: block;
		height: 1px;
		color: var(--light-grey);
		opacity: 0.5;
		margin-bottom: 35px;
	}

	.prize-position {
		margin-bottom: 20px;
	}

	.bottom-position-style {
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid var(--neon-green);
		border-radius: 40px;
		background-color: var(--basic-deep-purple);
	}

	.desktop-score-style,
	.desktop-score-style-special {
		display: block;
		margin-right: 10px;
	}

	.leader-page-container,
	.elder-page-container {
		max-width: 230px;
	}

	.player-image-container img {
		width: 80px;
		height: 80px;
	}

	.elder-list,
	.veteran-list,
	.prospect-list {
		display: flex;
	}

	.elder-list-item,
	.veteran-list-item,
	.prospect-list-item {
		margin-right: 65px;
	}

	.elder-list .elder-list-item + .elder-list-item,
	.veteran-list .veteran-list-item + .veteran-list-item,
	.prospect-list .prospect-list-item + .prospect-list-item {
		margin-top: 0;
	}

	.leader-board-personalities {
		padding: 40px 30px 30px;
		background-image: url('./img/player_profile/desktop-leader-borad-bg.png');
		background-position: 0 0;
		background-size: 100% auto;
		background-repeat: no-repeat;
		border-radius: 20px;
	}

	.leader-board-page-style {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 45px;
		width: 215px;
		background-color: var(--basic-deep-purple);
	}

	.leader-board-menu-container {
		margin: 0;
	}

	.leader-board-page {
		padding: 40px 100px 65px 50px;
	}

	.ranking-tabs .rank-input:checked + .rank-label,
	.leader-board-tabs .leader-input:checked + .leader-rank {
		background-color: #272633;
		border-bottom: none;
		border-radius: 5px 5px 0 0;
		color: var(--neon-green);
		opacity: 1;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
	}

	.elder-page-container,
	.veteran-page-container,
	.prospect-page-container {
		min-height: 105px;
		min-width: 230px;
	}
}
