html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--basic-deep-purple: #1b1a26;
	--light-grey: #e2e6ff;
	--light-green: #4fbb35;
	--neon-green: #03ff49;
	--dark-green: #63c14c;
	--light-blue: #19afff;
	--back-button-color: #e5e5e5;
	--sign-out-button-color: #fd4949;
	--sub-navigation-top-border-color: #0bd863;
	--background-main-color: #252734;
	--background-color-input: #2e3241;
	--background-desktop-main-color: #1d1e28;
	--orange-color: #e78d5b;
	--cancel-button-color: rgba(226, 230, 255, 0.5);
	--background-input-color: #212430;
	--background-color-device-select: #272633;
	--background-color-search-select: #161c23;
	--deep-blue-color: #3583bb;
}

/* ===============================================  User Profile  =========================================== */

.header-logo-profile-mobile {
	position: absolute;
	background-image: url('./img/header-logo.svg');
	width: 108px;
	height: 50px;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

.header-sub-navigation-container {
	display: none;
}

.header-sub-navigation-list {
	padding: 0;
	margin: 0;
}

.main-menu-profile-setting {
	background-color: var(--basic-deep-purple);
}

.profile-setting-bg-image {
	position: relative;
	background-image: url('./img/user_profile/Rectangle\ 80.svg');
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 124px;
	background-color: #21222e;
}

.user-profile-information {
	justify-content: space-between;
	display: flex;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}

.user-info-name {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
}

.user-profile {
	padding-top: 35px;
	padding-bottom: 35px;
}

.user-profile-setting-links {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: var(--background-main-color);
}

.user-info-count {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
}

.user-buttons-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 15px;
}

.user-info {
	display: flex;
	flex-direction: column;
}

.add-button {
	top: 90%;
	transform: translate(-50%, -50%);
	left: 50%;
	border: none;
	background-color: transparent;
	position: absolute;
	padding: 0;
	width: 60px;
	height: 60px;
	background-image: url('./img/user_profile/user-setting-add-button.svg');
	display: block;
}

.add-button-style {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	margin-bottom: 25px;
	margin-top: 10px;
}

.sign-out-button {
	padding: 8px 24px;
	background-color: var(--sign-out-button-color);
	color: var(--light-grey);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	border: none;
	border-radius: 30px;
}

.user-country-flag-mobile {
	width: 28px;
	height: 16px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

.user-setting-menu {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 65px;
	margin: 0 auto;
	max-width: 940px;
	background-color: var(--background-main-color);
}

.user-setting-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--basic-deep-purple);
	padding: 20px 25px;
	height: 185px;
	border-radius: 12px;
	position: relative;
}

.user-setting-container:not(:last-child) {
	margin-bottom: 15px;
}

.user-profile-link-list {
	white-space: nowrap;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-x: auto;
}

/* ===================================================  Personal Data   ========================================= */

.main-page-profile-settings {
	background-color: var(--basic-deep-purple);
	position: relative;
}

.user-redream-header {
	margin: 0;
	position: absolute;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
	text-transform: uppercase;
}

.user-redream-container {
	padding: 25px 15px;
	padding-top: 0;
	background-color: var(--background-main-color);
	position: relative;
}

.add-game-page-container {
	padding-top: 25px;
	padding-bottom: 100px;
	background-color: var(--background-main-color);
	position: relative;
}

.games-history-container {
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: var(--background-main-color);
	position: relative;
}

.user-redream-data {
	position: relative;
	background-color: var(--basic-deep-purple);
	padding: 20px 15px;
	border-radius: 12px;
}

.add-game-header::before {
	display: block;
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

.add-game-data {
	padding-top: 20px;
	position: relative;
	background-color: var(--basic-deep-purple);
}

.games-history-data {
	position: relative;
	background-color: var(--basic-deep-purple);
	padding: 20px 15px;
}

.user-profile-link-item {
	padding: 8px 10px;
	background-color: rgba(226, 230, 255, 0.1);
	border-radius: 50px;
}

.user-profile-link-item a {
	color: var(--light-grey);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	opacity: 50%;
}

.user-profile-link-item a:active {
	color: var(--neon-green);
}

.user-profile-link-item:not(:last-child) {
	margin-right: 10px;
}

.user-profile-header {
	top: 20px;
	left: 25px;
	position: absolute;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light-grey);
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

.add-game-header {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light-grey);
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	padding-left: 40px;
}

.history-header {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
	padding-left: 25px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.history-header::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

.user-profile-header::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

.user-setting-button {
	position: relative;
	padding: 0;
	padding-left: 30px;
	background-color: transparent;
	color: rgba(226, 230, 255, 0.5);
	border: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
}

.user-setting-button::before {
	position: absolute;
	content: '';
	left: 0;
	display: block;
	height: 16px;
	width: 16px;
	background-image: url('./img/user_profile/plus-for-add-button.svg');
	background-position: 0 50%;
}

.profile-form {
	margin-top: 35px;
}

.profile-form input,
.profile-form select {
	display: block;
	width: 100%;
	border-radius: 35px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: var(--light-grey);
}

.profile-form label {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--light-grey);
	opacity: 50%;
	padding-bottom: 7px;
	padding-left: 17px;
	letter-spacing: 0.22px;
}

.profile-form input,
.profile-form select {
	padding: 12px 15px;
	margin-bottom: 15px;
	background-color: var(--background-color-input);
}

.profile-form .profile-email {
	color: var(--neon-green);
}

.profile-form select option {
	background-color: var(--background-color-input);
}

.submit-button-container {
	display: flex;
	justify-content: space-between;
}

.profile-form-big-button {
	padding: 12px 24px;
	border-radius: 30px;
	border: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-form-small-button {
	padding: 10px 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	border-radius: 20px;
	border: none;
	background-color: rgba(226, 230, 255, 0.5);
	margin-right: 10px;
	margin-bottom: 10px;
}

.change-password-button {
	position: absolute;
	background-color: transparent;
	border: none;
	width: 24px;
	height: 24px;
	background-image: url('./img/password-eye.svg');
	bottom: 145px;
	right: 40px;
}

.change-password-confirm-button {
	position: absolute;
	background-color: transparent;
	border: none;
	width: 24px;
	height: 24px;
	background-image: url('./img/password-eye.svg');
	bottom: 88px;
	right: 40px;
}

.profile-form-middle-button {
	padding: 10px 40px;
	border-radius: 30px;
	border: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
}

.change-password {
	margin-top: 5px;
	margin-bottom: 35px;
	background-color: var(--orange-color);
}

.cancel-button {
	background-color: var(--cancel-button-color);
	color: #e5e5e5;
}

.save-button {
	background-color: var(--light-green);
}

.form-select-gender {
	padding-left: 40px;
	appearance: none;
	background-image: url('./img/user_profile/select-gender-arrow.svg');
	background-repeat: no-repeat;
	background-position: 94% 55%;
	background-size: 0.9em auto, 100%;
}

.form-select-language {
	appearance: none;
}

.change-password-form {
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
	border: 1px solid var(--dark-green);
	box-shadow: 0px 0px 16px 4px rgb(3 255 73 / 26%),
		-5px 0px 14px rgb(0 0 0 / 25%);
}

.change-password-container {
	position: relative;
	padding: 20px 15px;
	height: 260px;
}

.change-password-header {
	top: 20px;
	left: 25px;
	position: absolute;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light-grey);
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

.change-password-button-container {
	display: flex;
	justify-content: space-between;
}

.change-password-header::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

.input-password-container {
	margin-top: 60px;
}

.profile-password-input,
.profile-confirm-password-input {
	width: 100%;
	padding: 10px 25px;
	border: none;
	border-radius: 35px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	background-color: var(--background-color-input);
	outline: none;
	color: #e5e5e5;
	opacity: 0.5;
}

.profile-password-input {
	margin-bottom: 15px;
}

.profile-confirm-password-input {
	margin-bottom: 20px;
}

.profile-form,
.communication .user-redream-input-communication {
	color: var(--neon-green);
}

.profile-form,
.communication label {
	color: var(--light-grey);
	opacity: 1;
}

.communication label {
	padding-left: 10px;
}

.communication img {
	display: inline-block;
}

.communication-form-button {
	margin-top: 25px;
}

/* ========= Add Game Modal =========== */
.add-game-header {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	text-align: center;
	color: var(--light-grey);
}
.add-game-container {
	padding: 10px;
}

.add-game-form {
	background-color: var(--basic-deep-purple);
	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
	border: 1px solid var(--dark-green);
	box-shadow: 0px 0px 16px 4px rgb(3 255 73 / 26%),
		-5px 0px 14px rgb(0 0 0 / 25%);
}

.add-game select,
.add-game input[type='text'] {
	padding: 15px;
	display: block;
	display: block;
	width: 100%;
	border-radius: 35px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: var(--light-grey);
	background-color: var(--background-color-input);
	appearance: none;
	margin-bottom: 15px;
}

.add-game label {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--light-grey);
	padding-left: 15px;
}

.add-game select {
	background-image: url('./img/user_profile/select-gender-arrow.svg');
	background-repeat: no-repeat;
	background-position: 94% 55%;
	background-size: 0.9em auto, 100%;
}

.game-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 208px;
	background-color: var(--background-color-input);
	margin-bottom: 15px;
	border-radius: 12px;
}

.bottom-button-container {
	display: flex;
	justify-content: space-between;
}

.load-game-image-container {
	margin-bottom: 30px;
}

.load-game-image-container label {
	padding: 0;
}

.load-picture-container {
	padding: 12px;
	background-color: #4986fd;
	display: flex;
	justify-content: center;
	border-radius: 30px;
}

.file-load-wrapper {
	display: block;
}

.input-game-image {
	display: none;
}

.load-image-text {
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	padding-left: 10px;
}

/*===============================  Gear  ==================================*/

.gear-description-header {
	margin-bottom: 15px;
	margin-top: 60px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
}

.select-device-header {
	display: flex;
	flex-wrap: wrap;
}

.select-device-input {
	width: 236px;
	padding: 10px 25px;
	border-radius: 35px;
	border: 1px solid #e5e5e5;
	background-color: var(--background-input-color);
	outline: none;
	color: var(--light-grey);
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-right: 8px;
}

.select-device {
	background-color: var(--light-green);
}

.device-option-container {
	margin-top: 20px;
	display: flex;

	flex-wrap: wrap;
}
.search-device-container {
	margin-top: 30px;
	background-color: var(--background-color-device-select);
	padding: 12px 10px;
	border-radius: 15px;
}

.search-device-header {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.search-device-input {
	width: 50%;
	margin-left: auto;
	background-color: var(--background-color-search-select);
	border: 1px solid var(--light-grey);
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 22px;
	outline: none;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.5;
	line-height: 14px;
	color: var(--light-grey);
}

.selected-device-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 22px;
	color: var(--light-grey);
	letter-spacing: 0.22px;
}

.select-device-field {
	padding: 15px 20px;
	border: 1px solid var(--light-grey);
	border-radius: 15px;
	margin-bottom: 15px;
}

.select-device-field select {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
}

.profile-form-small-button:active {
	background-color: var(--orange-color);
	color: #fff;
}

.selected-device {
	background-color: var(--orange-color);
}

.profile-form-small-button:visited {
	color: #fff;
}

.select-device-field option {
	background-color: transparent;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.22px;
	color: var(--light-grey);
	margin-bottom: 0;
}

.select-device-field option:not(:last-child) {
	margin-bottom: 15px;
}

.search-tag-container-mobile {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.search-tag {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 13px;
	padding-right: 40px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	background-color: var(--light-green);
	border-radius: 20px;
	margin-right: 10px;
}

.add-selected-device {
	margin-top: 15px;
	display: flex;
}

.add-selected-device span {
	padding: 10px 20px;
	background-color: var(--background-input-color);
	border: 1px solid rgba(229, 229, 229, 0.5);
	border-radius: 35px;
	width: 208px;
	margin-right: auto;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.22px;
	color: var(--light-grey);
}

.search-icon {
	position: absolute;
	bottom: 10px;
	right: 22px;
	width: 16px;
	height: 16px;
}

.user-setting-search-icon {
	display: none;
}

.delete-tag-button {
	position: relative;
	padding: 0;
	border: none;
	background-color: transparent;
}

.delete-tag-button::after {
	position: absolute;
	content: '';
	display: block;
	background-image: url('./img/user_profile/user-form-communication/cross-tag.svg');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	left: 10px;
	bottom: -5px;
}

/*  == Preferences All Games ==  */

.search-game-header {
	margin-top: 60px;
	margin-bottom: 20px;
}

.history-game-input,
.search-game-input {
	background-color: var(--background-input-color);
	padding: 10px 20px;
	border: 1px solid var(--back-button-color);
	border-radius: 35px;
	outline: none;
	color: var(--light-grey);
	margin-right: 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	min-width: 210px;
}

.green-button {
	background: var(--light-green);
}

.add-game-button,
.profile-large-button {
	display: block;
	text-align: center;
	width: 100%;
	background-color: var(--deep-blue-color);
	border: none;
	padding: 12px 66px;
	font-weight: 500;
	font-size: 14px;
	color: var(--light-grey);
	border-radius: 30px;
}

.game-image {
	width: 100%;
}

.profile-image-overlay {
	position: absolute;
	bottom: 22px;
	left: 15px;
	padding: 20px;
	border-radius: 14px;
	width: 175px;
	backdrop-filter: blur(32px);
}

.game-name {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
	margin-bottom: 10px;
}

.game-description {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	padding: 0;
}

.genre {
	margin-bottom: 5px;
}

.sub-genre {
	margin-bottom: 10px;
}

.add-button-container {
	position: relative;
}

.user-game-button.add::after {
	position: absolute;
	content: '';
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('./img/user_profile/add-game-plus.svg');
	bottom: 5px;
	left: 84px;
}

.user-game-button.delete::after {
	position: absolute;
	content: '';
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	display: block;
	background-image: url('./img/user_profile/delete-game-cross.svg');
	bottom: 5px;
	left: 84px;
}

.user-game-button {
	z-index: 1;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 65px;
	border: none;
	border-radius: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	background-color: transparent;
	backdrop-filter: blur(4px);
	color: var(--light-grey);
}

.profile-games-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.profile-game-container {
	position: relative;
	margin-bottom: 15px;
}

.load-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.preferences-no-result-header {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	text-transform: capitalize;
	color: var(--light-grey);
	opacity: 0.5;
	margin-top: 55px;
	margin-bottom: 25px;
}

.confirm-add-game-container {
	padding: 40px 15px;
	background-color: var(--basic-deep-purple);
	border-radius: 10px;
	border: 1px solid var(--dark-green);
	box-shadow: 0px 0px 16px 4px rgb(3 255 73 / 26%),
		-5px 0px 14px rgb(0 0 0 / 25%);
}

.confirm-header {
	margin-bottom: 25px;
	text-transform: none;
}

.container-button {
	display: none;
}

.container-input {
	display: none;
}

.search-tag-container-desktop {
	display: none;
}

.side-container-profile-menu {
	display: none;
}

.side-layout-menu-desktop {
	display: none;
}

.alphabet-search {
	display: none;
}

.paginator-container {
	display: none;
}

.close-cross-button {
	display: none;
}

.dashboard-layout {
	display: flex;
	flex-direction: column;
}

.device-type-container {
	margin-top: 20px;
	margin-bottom: 25px;
}

.select-device-type {
	width: 100%;
	padding: 12px 16px;
	background-color: var(--background-color-input);
	border: none;
	border-radius: 35px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
	outline: none;
	appearance: none;
}

.select-image-container img {
	border-radius: 10px;
}

.select-image-container {
	margin-right: 10px;
}

.choose-image-container {
	margin-bottom: 5px;
}

.choose-image-container img {
	width: 55px;
	height: 45px;
	border-radius: 5px;
}

.load-game-form label {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.22px;
	color: var(--light-grey);
	padding-left: 17px;
}

.load-game-form {
	padding: 25px 30px;
}

.load-game-form input,
.load-game-form select {
	display: block;
	width: 100%;
	border-radius: 35px;
	border: 2px solid transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
	padding: 12px 15px;
	outline: none;
	background-color: var(--background-color-input);
	margin-bottom: 20px;
}

.load-game-form input:active,
.load-game-form select:active {
	border: 2px solid var(--neon-green);
}

.select-device-type,
.choose-device-type {
	appearance: none;
	background-image: url('./img/user_profile/select-gender-arrow.svg');
	background-repeat: no-repeat;
	background-position: 94% 55%;
	background-size: 0.9em auto, 100%;
}

.select-device-type option,
.choose-device-type option {
	background-color: var(--background-color-input);
}

.top-side-image-container {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.upload-image-container {
	margin-bottom: 50px;
}

.upload-picture-button {
	display: block;
	min-width: 175px;
	margin: 0 auto;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	border-radius: 30px;
	border: none;
	padding: 8px 25px;
	background-color: var(--dark-green);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
}

.form-buttons-container {
	display: flex;
	justify-content: space-between;
}

.form-buttons-container button {
	border-radius: 30px;
	border: none;
	padding: 8px 25px;
	border: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
}

.form-cancel-button {
	background: rgba(229, 229, 229, 0.5);
	opacity: 0.5;
}

.add-game-style {
	background-color: var(--dark-green);
}

.game-switcher {
	display: flex;
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
}

.game-selector-item {
	transition: transform 0.38s ease;
	width: 50%;
}

.game-selector-item img {
	width: 100%;
}

.game-switcher-container {
	margin-top: 44px;
	margin-bottom: 85px;
}

.game-selector-item-active {
	transform: scaleY(1.4) scaleX(1.4);
	z-index: 1;
}

.game-selector-item:nth-child(1) {
	transform-origin: center left;
}

.game-selector-item:nth-child(2) {
	transform-origin: center right;
}

/* ======================================================   Media Queries   =========================================== */

@media screen and (min-width: 1200px) {
	.history-container {
		margin-right: 45px;
	}

	.history-header {
		padding-left: 0;
	}
	.history-header::before {
		position: absolute;
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 31px;
		height: 2px;
		background-color: var(--neon-green);
		margin-left: -40px;
		margin-top: 8px;
	}
	.dashboard-layout-content.games-history {
		background-color: var(--background-main-color);
	}

	.games-history-container {
		padding-top: 0;
		padding-bottom: 200px;
		border-radius: 200px;
		border-radius: 20px;
	}

	.games-history-data {
		padding-top: 55px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		border-radius: 20px 20px 0 0;
	}

	.history-page {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 45px;
		width: 215px;
		background-color: var(--basic-deep-purple);
		width: 215px;
	}

	.header-sub-navigation-container {
		opacity: 50%;
		padding: 0;
		margin: 0;
		display: flex;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid var(--sub-navigation-top-border-color);
	}

	.header-sub-navigation-list {
		display: flex;
		margin: 0 auto;
		list-style: none;
	}

	.sub-navigation-item {
		color: var(--light-grey);
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	.header-sub-navigation-list li:not(:last-child) {
		margin-right: 40px;
	}

	.user-info-count {
		font-size: 18px;
		line-height: 21px;
	}

	.add-button {
		background-image: url('./img/user_profile/user-setting-add-button-desktop.svg');
		width: 165px;
		height: 165px;
	}

	.profile-setting-bg-image {
		height: 220px;
		background-size: cover;
	}

	.user-profile-information {
		padding: 25px 40px;
		justify-content: start;
		position: relative;
		height: 95px;
	}

	.friends,
	.clan,
	.games {
		margin-right: 30px;
	}

	.user-button-options {
		display: none;
	}

	.add-button-style {
		margin: 0;
		position: absolute;
		font-size: 24px;
		line-height: 28px;
		right: 50%;
		transform: translateX(50%);
		bottom: 10px;
	}

	.sign-out-button {
		position: absolute;
		right: 25px;
	}

	.user-setting-container {
		padding: 30px;
		height: 305px;
		display: block;
	}

	.user-setting-button-container {
		position: absolute;
		bottom: 30px;
		left: 30px;
		padding: 85px 60px;
		background-color: rgba(226, 230, 255, 0.05);
		border-radius: 10px;
	}

	.container-button {
		display: block;
		float: right;

		padding: 8px 25px;
		border: none;
		background-color: var(--light-green);
		border-radius: 30px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: var(--light-grey);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.container-input {
		display: inline;
		margin-left: 345px;
		padding: 10px 15px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		background-color: transparent;
		border: 0.5px solid var(--light-grey);
		border-radius: 25px;
		outline: none;
		width: 220px;
		color: var(--light-grey);
	}

	.user-profile-header {
		font-size: 18px;
		line-height: 21px;
		top: 35px;
		left: 40px;
	}

	.user-profile-header::before {
		width: 31px;
		margin-left: -40px;
	}

	.user-setting-search-icon {
		display: block;
		position: absolute;
		bottom: 250px;
		left: 570px;
	}

	.user-profile-desktop-container {
		display: flex;
		justify-content: space-around;
		gap: 0.7rem;
	}

	.profile-form input,
	.profile-form select {
		padding: 12px 15px;
		margin-bottom: 15px;
		background-color: var(--background-color-input);
		width: 352px;
	}

	.profile-form {
		margin-top: 50px;
	}

	.user-redream-data {
		position: relative;
		margin: 0 auto;
		padding: 40px;
	}

	.change-password {
		position: absolute;
		right: 50px;
		top: 35px;
		margin: 0;
	}

	.submit-button-container {
		margin-top: 20px;
	}

	.gear-description-header {
		font-size: 18px;
		line-height: 21px;
	}

	.selected-device-name {
		font-size: 24px;
		line-height: 22px;
	}

	.search-device-input {
		width: 240px;
	}

	.search-tag-container-mobile {
		display: none;
	}
	.desktop-device-container {
		display: flex;
	}

	.search-tag-container-desktop {
		display: flex;
		flex-direction: column;
	}

	.search-tag-container-desktop span {
		margin: 0;
		margin-bottom: 5px;
	}

	.search-device-container {
		margin-top: 0;
		width: 590px;
		margin-right: 15px;
		padding: 25px 20px;
	}

	.device-option-container {
		margin-bottom: 40px;
	}

	.add-selected-device span {
		width: 422px;
	}

	.select-device-input {
		width: 352px;
	}

	.user-profile-link-list {
		flex-direction: column;
	}

	.user-profile-link-item {
		text-align: center;
		padding: 16px 36px;
		background-color: rgba(226, 230, 255, 0.5);
		border-radius: 30px;
	}

	.user-profile-link-item a {
		font-size: 20px;
		line-height: 23px;
		opacity: 100%;
	}

	.user-profile-link-list li:not(:last-child) {
		margin-bottom: 25px;
		margin-right: 0;
	}

	.link-active {
		background-color: var(--light-green);
	}

	.column-wrapper:not(:last-child) {
		margin-bottom: 55px;
	}

	.side-layout-menu-desktop img {
		margin: 0 auto;
	}

	.column-wrapper button {
		display: block;
		margin: 0 auto;
		background-color: transparent;
		border: none;
	}

	.column-wrapper button {
		margin-top: 25px;
	}

	.column-wrapper .add-friend-button {
		margin-top: 10px;
	}

	.side-container-menu-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--light-grey);
		text-align: center;
	}

	.side-container-menu-text-bold {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: var(--light-grey);
	}

	.user-setting-menu {
		padding-left: 0;
		padding-right: 0;
		background-color: var(--background-desktop-main-color);
	}

	.user-setting-links-desktop {
		padding: 40px 70px;
		order: 1;
		display: block;
		z-index: 2;
		width: 385px;
	}

	.dashboard-layout-content {
		margin: 0 auto;
		background-color: var(--background-desktop-main-color);
		padding: 40px 30px;
		flex-grow: 1;
		width: 600px;
	}

	.profile-games-container {
		display: flex;
	}

	.profile-image-overlay p {
		font-size: 9px;
	}

	.user-game-button {
		font-size: 12.5678px;
		line-height: 15px;
	}

	.profile-image-overlay {
		bottom: 10px;
		padding: 20px 12px;
		width: 113px;
		min-height: 135px;
	}

	.profile-game-container {
		margin-right: 20px;
	}

	.user-game-button.add::after {
		left: 55px;
	}

	.user-game-button.delete::after {
		left: 65px;
	}

	.sub-genre {
		margin-bottom: 3px;
	}

	.alphabet-search {
		display: block;
		margin-top: 16px;
	}

	.alphabet-search-list {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.alphabet-search-item {
		flex-grow: 1;
	}

	.alphabet-search-item a {
		font-weight: 600;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.4em;
		text-transform: capitalize;
		color: var(--light-grey);
	}

	.paginator-container {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.paginator-container .pagination-link {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #fff;
		opacity: 50%;
		padding: 10px 15px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		margin: 0 5px;
	}

	.paginator-container .active-link {
		background-color: var(--dark-green);
		color: #fff;
		font-weight: 800;
		font-size: 16px;
		line-height: 19px;
		opacity: 100%;
	}

	.paginator-container .pagination-back-button {
		background-image: url('./img/user_profile/pagination-left-arrow.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 40px;
		height: 40px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		margin-right: 10px;
	}

	.paginator-container .pagination-forward-button {
		background-image: url('./img/user_profile/pagination-right-arrow.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 40px;
		height: 40px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		margin-left: 10px;
	}
	.load-button-container {
		margin-bottom: 32px;
	}

	.preferences {
		display: block;
		padding: 12px 25px;
		margin: 0 auto;
		max-width: 235px;
	}

	.desktop-form-container {
		display: flex;
		justify-content: space-between;
	}

	.desktop-form-container select,
	.desktop-form-container input {
		width: 360px;
	}

	.game-image-container {
		width: 240px;
	}

	.add-game-form {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -385px;
		margin-top: -210px;
		min-width: 770px;
		padding-top: 32px;
		padding-left: 56px;
		padding-right: 56px;
		padding-bottom: 30px;
	}

	.add-game-header {
		font-size: 18px;
		line-height: 21px;
	}

	.load-picture-container {
		width: 150px;
	}

	.load-game-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cancel-button,
	.save-button {
		font-size: 14px;
		line-height: 16px;
		padding: 8px 24px;
		display: block;
	}
	.confirm-add-game-container {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -325px;
		width: 650px;
		position: relative;
	}

	.confirm-add-game-container::before {
		content: '';
		position: absolute;
		background-image: url('./img/user_profile/modal-guy.svg');
		width: 364px;
		height: 310px;
		background-repeat: no-repeat;
		bottom: 0;
		left: -115px;
	}

	.confirm-add-game-container::after {
		content: '';
		position: absolute;
		background-image: url('./img/user_profile/modal-girl.svg');
		width: 290px;
		height: 359px;
		background-repeat: no-repeat;
		bottom: 0;
		right: -17px;
	}

	.desktop-confirm-game-container {
		width: 220px;
		margin: 0 auto;
	}

	.close-cross-button {
		display: block;
		position: absolute;
		background-image: url('./img/user_profile/close-modal-cross.svg');
		background-color: transparent;
		border: none;
		top: 10px;
		right: 10px;
		padding: 0;
		margin: 0;
		height: 26px;
		width: 26px;
		z-index: 3;
	}

	.dashboard-layout {
		flex-direction: row;
		margin: 0 auto;
		max-width: 1600px;
	}

	.user-profile-setting-links {
		background-color: transparent;
	}

	.user-redream-container {
		background-color: transparent;
	}
}

@media screen and (min-width: 1400px) {
	.history-header {
		font-size: 18px;
		line-height: 21px;
	}
	.games-history-data {
		display: flex;
	}

	.choose-game-container {
		display: flex;
		justify-content: space-between;
	}

	.history-game-header {
		display: flex;
	}

	.device-type-container {
		margin-top: 0;
	}

	.history-game-input {
		width: 240px;
		height: 35px;
		border-color: var(--neon-green);
		margin-left: 120px;
		background-color: var(--background-color-search-select);
	}

	.add-game-button {
		background-color: var(--dark-green);
		min-width: 150px;
		height: 35px;
		padding: 7px 0;
		margin-left: 50px;
	}

	.select-device-type {
		width: 185px;
		border: 1px solid var(--neon-green);
		margin-left: 40px;
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: var(--background-color-search-select);
	}
}

@media screen and (min-width: 1600px) {
	.add-game-button {
		margin-left: 210px;
	}
	.side-layout-menu-desktop {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 45px;
		width: 215px;
		background-color: var(--basic-deep-purple);
	}
}
