:root {
	--basic-deep-purple: #1b1a26;
	--light-grey: #e2e6ff;
	--light-green: #4fbb35;
	--neon-green: #03ff49;
	--dark-green: #63c14c;
	--light-blue: #19afff;
	--back-button-color: #e5e5e5;
	--sign-out-button-color: #fd4949;
	--sub-navigation-top-border-color: #0bd863;
	--background-main-color: #252734;
	--background-color-input: #2e3241;
	--change-password-button-color: #e78d5b;
	--cancel-button-color: rgba(226, 230, 255, 0.5);
}

/* ===============================================  User Profile  =========================================== */

.header-logo-profile-mobile {
	position: absolute;
	background-image: url('./img/header-logo.svg');
	width: 108px;
	height: 50px;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

.header-sub-navigation-container {
	display: none;
}

.header-sub-navigation-list {
	padding: 0;
	margin: 0;
}

.main-menu-profile-setting {
	background-color: var(--basic-deep-purple);
}

.profile-setting-bg-image {
	position: relative;
	background-image: url('./img/user_profile/Rectangle\ 80.svg');
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 124px;
	background-color: #21222e;
}

.user-profile-information {
	justify-content: space-between;
	display: flex;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.user-info-name {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
}

.user-profile {
	padding-top: 35px;
	padding-bottom: 35px;
}

.user-profile-setting-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-info-count {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
}

.user-buttons-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 15px;
}

.user-info {
	display: flex;
	flex-direction: column;
}

.add-button {
	top: 90%;
	transform: translate(-50%, -50%);
	left: 50%;
	border: none;
	background-color: transparent;
	position: absolute;
	padding: 0;
	width: 60px;
	height: 60px;
	background-image: url('./img/user_profile/user-setting-add-button.svg');
	display: block;
}

.add-button-style {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: var(--light-grey);
	margin-bottom: 25px;
	margin-top: 10px;
}

.sign-out-button {
	padding: 8px 24px;
	background-color: var(--sign-out-button-color);
	color: var(--light-grey);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	border: none;
	border-radius: 30px;
}

.user-country-flag-mobile {
	width: 28px;
	height: 16px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

.user-setting-menu {
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 65px;
}

.user-setting-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--basic-deep-purple);

	padding: 20px 25px;
	height: 185px;
	border-radius: 12px;
	position: relative;
}

.user-setting-container:not(:last-child) {
	margin-bottom: 15px;
}

.user-profile-link-list {
	white-space: nowrap;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-x: auto;
}

/* ===================================================  Personal Data   ========================================= */

.user-redream-data {
	background-color: var(--background-main-color);
	position: relative;
}

.main-page-profile-settings {
	background-color: var(--background-main-color);
}

.user-redream-header {
	margin: 0;
	position: absolute;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: var(--light-grey);
	text-transform: uppercase;
}

.user-redream-container {
	padding: 25px 15px;
}

.user-redream-data {
	background-color: var(--basic-deep-purple);
	padding: 20px 25px;
	border-radius: 12px;
}

.setting-link-container {
	margin-top: 25px;
}

.user-profile-link-item {
	padding: 8px 10px;
	background-color: rgba(226, 230, 255, 0.1);
	border-radius: 50px;
}

.user-profile-link-item a {
	color: var(--light-grey);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	opacity: 50%;
}

.user-profile-link-item a:active {
	color: var(--neon-green);
}

.user-profile-link-item:not(:last-child) {
	margin-right: 10px;
}

.user-profile-header {
	top: 20px;
	left: 25px;
	position: absolute;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light-grey);
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

.user-profile-header::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 2px;
	background-color: var(--neon-green);
	margin-left: -25px;
	margin-top: 8px;
}

.user-setting-button {
	position: relative;
	padding: 0;
	padding-left: 30px;
	background-color: transparent;
	color: rgba(226, 230, 255, 0.5);
	border: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
}

.user-setting-button::before {
	position: absolute;
	content: '';
	left: 0;
	display: block;
	height: 16px;
	width: 16px;
	background-image: url('./img/user_profile/plus-for-add-button.svg');
	background-position: 0 50%;
}

.profile-form {
	margin-top: 35px;
}

.profile-form input,
.profile-form label,
.profile-form select {
	display: block;
	width: 100%;
	border-radius: 35px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: var(--light-grey);
}

.profile-form label {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: var(--light-grey);
	opacity: 50%;
	padding-bottom: 7px;
	padding-left: 17px;
}

.profile-form input,
.profile-form select {
	padding: 12px 15px;
	margin-bottom: 15px;
	background-color: var(--background-color-input);
}

.profile-form .profile-email {
	color: var(--neon-green);
}

.profile-form select option {
	background-color: var(--background-color-input);
}

.submit-button-container {
	display: flex;
	justify-content: space-between;
}

.profile-form-big-button {
	padding: 12px 25px;
	border-radius: 30px;
	border: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--light-grey);
}

.change-password {
	margin-top: 5px;
	margin-bottom: 35px;
	background-color: var(--change-password-button-color);
}

.cancel-button {
	background-color: var(--cancel-button-color);
}

.save-button {
	background-color: var(--light-green);
}

.form-select-gender {
	padding-left: 40px;
	appearance: none;
	background-image: url('./img/user_profile/select-gender-arrow.svg');
	background-repeat: no-repeat;
	background-position: 94% 55%;
	background-size: 0.9em auto, 100%;
}

.form-select-language {
	appearance: none;
}

/* ======================================================   Media Queries   =========================================== */

@media screen and (min-width: 1200px) {
	.header-sub-navigation-container {
		opacity: 50%;
		padding: 0;
		margin: 0;
		display: flex;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid var(--sub-navigation-top-border-color);
	}

	.header-sub-navigation-list {
		display: flex;
		margin: 0 auto;
		list-style: none;
	}

	.sub-navigation-item {
		color: var(--light-grey);
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	.header-sub-navigation-list li:not(:last-child) {
		margin-right: 40px;
	}
}
